.productPhoto-container {
    display: flex;
    flex-flow: row wrap;
}
.productPhoto-selected-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.productPhoto-selected-img img {
    width: 400px;
    border-radius: 10px;
    margin: auto;
}

#expandedImg {
    margin-left: auto;
    margin-right: auto;
}

.photo-reel {
    display: flex;
    height: 100px;
    max-width: inherit;
    margin-left: auto;
    margin-right: auto;
}

.column {
    height: 100%;
}
.column img {
    cursor: pointer;
    height: 100%;
    width: 100px;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    padding: 0.2rem;
}
.column img:hover {
    background-color: hsl(25, 100%, 80%);
}
.column img:focus {
    background-color: hsl(25, 100%, 80%);
}

@media (max-width: 500px) {
    #expandedImg {
        width: 100%;
        border-radius: 0px;
    }    
}
