.navbar-container {
    display: flex;
    height: 100px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    max-width: 1280px;
}

.toggle-button {
    height: 100%; 
    position: relative;
    width: 10%;
    min-width: 100px;
}
.toggle-button button {
    position: absolute;
    top: 50%;
    bottom: 0%;
    left: 20px;
    right: 0%;
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 10%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out;
    transform: translateY(-50%);
}
.toggle-button button:hover {
    background-color: hsl(25, 100%, 90%);
}   
.navbar-brand {
    cursor: pointer;
    height: 100%; 
    position: relative;
    width: 20%;
    max-width: 100px;
    margin-left: 0px;
}
.navbar-brand img {
    cursor: pointer;
    height: 30%;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/* nav sidebar menu */
.nav-menu ul {
    display: flex;
    padding: 0;
    margin-top: 0px;
    position: absolute;
    top: 100px;
    left: 0;
    flex-direction: column;
    width: 20%;
    min-width: 200px;
    height: calc(100vh - 77px);
    background-color: hsla(0, 0%, 100%, 0.90);
    border-right: 1px solid hsl(0, 0%, 80%);
}
.nav-menu li {  
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.nav-menu li a {
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-menu li:hover {
    transition: background-color 0.4s ease-in-out;
    background-color: hsl(25, 100%, 90%);
}
.nav-menu ul {
    display: none;
}
.nav-menu.expanded ul {
    display: block;
}


.navbar-cart {
    position: relative;
    height: 100%; 
    width: 30%;
    max-width: 100px;
    margin-left: auto;
}
.navbar-cart img {
    cursor: pointer;
    position: absolute;
    height: 25%;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 0;
    padding: 0.5rem;
    border-radius: 10%;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
}
.navbar-cart img:hover {
    background-color: hsl(25, 100%, 90%);
}
.navbar-profile {
    height: 100%; 
    position: relative;
    width: 20%;
    max-width: 100px;
}
.navbar-profile img {
    cursor: pointer;
    height: 40%;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
}
.navbar-profile img:hover {
    background-color: hsl(25, 100%, 90%);
}

@media (max-width: 500px) {
    .navbar-container {
        display: flex;
        height: 55px;
        margin-bottom: 0%;
        border-bottom: 0px;
    }
    .toggle-button {
        height: 100%; 
        position: relative;
        width: 10%;
        min-width: 50px;
    }
    .navbar-brand {
        cursor: pointer;
        height: 100%; 
        position: relative;
        width: 20%;
        max-width: 100px;
        margin-left: 5%;
    }
    .navbar-brand img {
        cursor: pointer;
        height: 30%;
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    /* nav sidebar menu */
    .nav-menu {

    }
    .nav-menu ul {
        display: flex;
        padding: 0;
        margin-top: 0px;
        position: absolute;
        top: 55px;
        left: 0;
        flex-direction: column;
        width: 20%;
        min-width: 200px;
        height: calc(100vh - 77px);
        background-color: hsla(0, 0%, 100%, 0.90);
        border-right: 1px solid hsl(0, 0%, 80%);
    }
    .nav-menu li {  
        list-style-type: none;
        text-align: center;
    }
    .nav-menu li a {
        color: black;
        width: 100%;
        padding: 1.5rem 0;
    }
    .nav-menu li:hover {
        background-color: #eee;
    }
    .nav-menu ul {
        display: none;
    }
    .nav-menu.expanded ul {
        display: block;
    }

    .navbar-cart {
        height: 100%; 
        position: relative;
        width: 20%;
        min-width: 50px;
        margin-left: auto;
    }
    .navbar-cart img {
        height: 20px;
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    .navbar-profile {
        height: 100%; 
        position: relative;
        width: 20%;
        min-width: 50px;
    }
    .navbar-profile img {
        height: 55%;
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    } 
}