.navbar-container {
    display: flex;
    height: 100px;
    margin-bottom: 5%;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}


.navbar-brand {
    cursor: pointer;
    height: 100%; 
    position: relative;
    width: 20%;
    max-width: 100px;
    margin-left: 10px;
}
.navbar-brand img {
    cursor: pointer;
    height: 30%;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.navbar-cart {
    height: 100%; 
    position: relative;
    width: 20%;
    max-width: 100px;
    margin-left: auto;
}
.navbar-cart img {
    cursor: pointer;
    height: 30%;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.navbar-profile {
    height: 100%; 
    position: relative;
    width: 20%;
    max-width: 100px;
}
.navbar-profile img {
    cursor: pointer;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

@media (max-width: 500px) {
    .navbar-container {
        display: flex;
        height: 55px;
        margin-bottom: 0%;
        border-bottom: 0px;
    }
    .navbar-brand {
        cursor: pointer;
        height: 100%; 
        position: relative;
        width: 20%;
        max-width: 100px;
        margin-left: auto;
    }
    .navbar-brand img {
        cursor: pointer;
        height: 30%;
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    .navbar-cart {
        height: 100%; 
        position: relative;
        width: 20%;
        min-width: 50px;
        margin-left: auto;
    }
    .navbar-cart img {
        height: 20px;
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    .navbar-profile {
        height: 100%; 
        position: relative;
        width: 20%;
        min-width: 50px;
    }
    .navbar-profile img {
        height: 40px;
        margin: auto;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    } 
}